/*STYLE*/
.row {
    margin-top: 25px;
    margin-bottom: 25px;
}

.container-2{
    padding-left: 10%;
    padding-right: 10%;
}

.container{
    padding-left: 10%;
    padding-right: 10%;
}

/*LOGIN*/

.page-butt{
	color: deepskyblue;
    margin-left: 38px;
    margin-top: -4px;
}

.page-butt:hover{
	color: lilac;
}

h1{
	color: orange;
}

h2{
	color: darkgray;
}

h3{
	color: dimgray;
}


.link p{
    color:white;
    margin: auto;
    font-size: 12pt;
    font-weight: 100;
    margin-top: 10px;
        
}

#background{
    width: 100%;
    min-height: 600px;
    background: url(../img/backgroundz.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    width: 100%;
    background-image: url(../img/background%20bruv.jpg);
}

#space{
    padding-top: 150px;
}

#background2{
    width: 100%;
    height: auto;
    background: url(../img/backgroundz.jpg);
    background-size: cover;
    background-position: center;
}

#login{
    margin: 0, auto;
    width: 500px;
    height: 750px;
    margin-left: 40px;
    background-image: url(../img/backgroundz.jpg);
    background-size: cover;
    background-position: center;
}

.form-content{
    margin-top: 20%;
}

.heading{
    background-color: black;
    height: 70px;
    width: 100%;
    margin-top: -25px;
}

.headingm{
    background-color: black;
    height: 70px;
    width: 50%;
    margin-top: -25px;
    margin-left: 80px;
    border-style: double;
}


.logo{
    width: 200px;
    height: 200px;
    
    margin-left: 45px;
    background: url(../img/GYM%20LOGO%20GLOW.png);
    background-size: cover;
    background-position: center;
    margin: auto;
}

.heading h1{
    color: orange;
    padding-top: 14px;
    margin-left: 50px;
    font-size: 18pt;
    margin-left: 200px;
}

.button-con{
    margin-top: 50px;
    
}

.button{
    width: 100%;
    height: 40px;
    background: orange;
    border: black;
    margin-top: 1px;
    opacity: 0.9;
}
.button-2{
    width: 100%;
    height: 40px;
    background: orange;
    border: black;
    margin-top: 1px;
    opacity: 0.9;
}
button:hover{
    color: black;
    opacity: 0.8;
}
button a{
    color: black;
    
}
.name{
    margin-left:175px;
    color: dimgray;
    font-weight:100;
    letter-spacing: 2px;
}

.password{
    margin-left: 180px;
    margin-top: 20px;
    color: dimgrey;
    letter-spacing: 2px;
}

.password2{
    -webkit-text-security: disc;
}

.mail{
    color:dimgray;
    margin-top: 20px;
    margin-left: 100px;
    
}

.mail2{
    margin-left: 150px;
    color: grey;
}

input{
    width: 400px;
    background-color: darkgrey;
    margin-left: 45px;
    border: white;
    opacity: 0.8;
    color: white;
    border-radius: 5px;
    
    
}

/*HOME*/
#message{
    width: 100%;
    border-bottom: ridge;
    border-bottom-color: dimgrey;
    border-bottom-width: thin;
}
.img-responsive:hover{
    background-image: url(../img/)
    
}

header{
    margin-bottom: 20px;
}

a{
    color: orange;
}

.heading h2{
    color: black;
    padding-top: 20px;
    margin-left: 120px;
}

.poster1{
    margin-left: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.poster1:hover{
    width: 200px;
    height: 300px;
    background-color: black;
    opacity: 0.2;
}

.poster2{
    margin-left: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.poster3{
    margin-left: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-2{
    width: 100%;
    height: 100%;
    background-image:url(../img/backgroundz.jpg);
    background-size: cover;
}
.link{
    width: 100%;
    height: 50px;
    background-image: url(../img/backgroundz.jpg);
    background-size: cover;
    text-align: center;
    margin-top: -20px;
}


/*LIB*/

#forms1{
    margin-left: 5px;
    background-image: url(../img/background%20bruv.jpg);
    height: 120px;
    width: 900px;
    background-size: cover;
    margin-left: 50px;
    align-items: center;
}

#forms1 h2{
    margin-left: 217px;
    color: white;
    font-weight: 200;
}

.name1{
    margin-left: 50px;
    color: white;
    font-weight: 100;
    
}


.output{
    color: white;
    font-size: 100px;
    margin-left: 260px;
}
#filterSubmit{
    background-color: orange;
    color: black;
    opacity: 2.0;
    font-weight: 200;
    letter-spacing: 2pt;
}

#filterSubmit2{
    background-color: orange;
    color: black;
    opacity: 2.0;
    font-weight: 200;
    letter-spacing: 2pt;
    
}
#filterSubmit3{
    background-color: orange;
    color: black;
    opacity: 2.0;
    font-weight: 200;
    letter-spacing: 2pt;
    
}
#filterSubmit:hover{
    background-color: black;
    color: orange;
    opacity: 5.0;
    font-weight: 200;
    letter-spacing: 2pt;
}
#filterSubmit2:hover{
    background-color: black;
    color: orange;
    opacity: 5.0;
    font-weight: 200;
    letter-spacing: 2pt;
}
#filterSubmit3:hover{
    background-color: black;
    color: orange;
    opacity: 5.0;
    font-weight: 200;
    letter-spacing: 2pt;
}
#sup-butt{
    
    width: 200px;
    height: 30px;
}

.button1{
    margin-left: 280px;
}


#list .well{
    margin-top: 10px;
    width: 77%;
}

.filtercontent{
    text-align: center;
    padding-bottom: 20px;
    float: left;
    margin-left: 100px;
}

.filtercontent2{
    text-align: center;
    padding-bottom: 20px;
    float: left;
    margin-left: 100px;
}

.filtercontent3{
    text-align: center;
    padding-bottom: 20px;
    float: left;
    margin-left: 100px;
}

.choice1{
    align-content: center; 
}

.filtercontent input{
    width: 100px;
}

.filtercontent2 input{
    width: 100px;
}

.filtercontent3 input{
    width: 100px;
}
.glyphicon{
    width: 40px;
    
    
}
.glyphicon:hover{
    background-color: black;
    opacity: 0.2;
}
.btn btn-warning btn-primary{
    margin-top: 5px;
}
.well{
    background-image: url(../img/backgroundz.jpg);
    border-color: black;
}
#date{
    color: grey;
}
#date1{
    color: grey;
}
#date2{
    color: grey;
}
#date3{
    color: grey;
}
#date4{
    color: grey;
}
#date5{
    color: grey;
}
#date6{
    color: grey;
}
#date7{
    color: grey;
}
#date8{
    color: grey;
}
#date9{
    color: grey;
}
#date10{
    color: grey;
}
#date11{
    color: grey;
}
#date12{
    color: grey;
}
#date13{
    color: grey;
}
#date14{
    color: grey;
}
#date15{
    color: grey;
}
#date16{
    color: grey;
}
#date17{
    color: grey;
}
#date18{
    color: grey;
}
#datea{
    color: grey;
}
#dateb{
    color: grey;
}
#datec{
    color: grey;
}
#dated{
    color: grey;
}
#title{
    color: white;
}

#title2{
    color: white;
}
#title3{
    color: white;
}
#title4{
    color: white;
}
#title5{
    color: white;
}
#title6{
    color: white;
}
#title{
    color: white;
}
#title7{
    color: white;
}
#title8{
    color: white;
}
#title9{
    color: white;
}
#title10{
    color: white;
}
#title11{
    color: white;
}
#title12{
    color: white;
}
#title13{
    color: white;
}
#title14{
    color: white;
}
#title15{
    color: white;
}
#title16{
    color: white;
}

#title17{
    color: white;
}
#title18{
    color: white;
}
#titlea{
    color: white;
}
#titleb{
    color: white;
}
#titlec{
    color: white;
}
#titled{
    color: white;
}

/*DETAILS*/

#access{
    margin-left: 85px;
    margin-bottom: 20px;
}

.surp{
    padding-top: 25px;
}

#edit{
    margin-left: 65px;
}

#not-sure{
	align-content: center;
}

/*LIST PAGES*/

#information{
    padding-top: 50px;
}

#trailer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 400px;
}

#info{
    color: white;
}

#title{
    font-size: 25px;
}

#title2{
    font-size: 25px;
}

#title3{
    font-size: 25px;
}

#title4{
    font-size: 25px;
}

#title5{
    font-size: 25px;
}

#title6{
    font-size: 25px;
}

#title7{
    font-size: 25px;
}

#title8{
    font-size: 25px;
}

#title9{
    font-size: 25px;
}

#title10{
    font-size: 25px;
}

#title11{
    font-size: 25px;
}

#title12{
    font-size: 25px;
}

#title13{
    font-size: 25px;
}

#title14{
    font-size: 25px;
}

#title15{
    font-size: 25px;
}

#title16{
    font-size: 25px;
}

#title17{
    font-size: 25px;
}

#title18{
    font-size: 25px;
    
}
#access{
    margin-top: 20px;
    margin-right: -50px;
    width: 200px;
    background-color: orange;
    letter-spacing: 2pt;
    
}

/* @Media rules*/

@media screen and (max-width: 991px) {
    headingm {
        width: 200px;
        height: 300px;
    }
    #list .well{
    margin-top: 10px;
        width: 57%;}
    
    #trailer{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
}
#sup-butt{
    background-color: orange;
    letter-spacing: 2pt;
    font-weight: 200;
}
    
